{
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "react-hooks", "@typescript-eslint", "prettier"],
  "settings": {
    "react": {
      "version": "^18.1.0"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": 0
  }
}
